.overlay-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.overlay-display.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.overlay-display.visible {
  visibility: visible;
  opacity: 1;
}

.overlay {
  display: flex;
  background-color: white;
  position: relative;
  border-radius: 1rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.close img {
  width: 3rem;
  height: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
