.screen {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 4fr 7fr;
  width: 100vw;
  height: 100vh;
  font-variant-numeric: tabular-nums;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section0 {
  display: grid;
  place-items: center;
  font-size: 6rem;
  font-weight: bold;
  color: white;
  background: #40ba8d;
  overflow: hidden;
  position: relative;
  background-image: var(--section0-bg, none);
  background-position: var(--section0-bg-position, center);
  background-size: cover;
}

.section1 {
  display: grid;
  flex-direction: column;
  color: white;
  height: 100%;
}
